<h1>{{title}}</h1>
<p>Ohai @ {{title}}</p>

<button hx-get="/test" hx-target="#some-target" hx-swap="innerHTML">Show test below</button>

<div id="some-target" style="margin-top: 1rem; padding: 1rem; min-width:300px; min-height: 300px; border: 1px solid gray">
    Nothing here yet
</div>
